html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background:rgba(165, 42, 42, 0.798);
  backdrop-filter: brightness(0.5);
  color: white;
}

.container {
  width: 85%;
  margin: 0 auto;
}
.grid {
  display: grid;
}
.hero {
  height: 100vh;
  width: 100vw;
  background: url(./logo/The_Foodhouse.png) no-repeat center;
  background-size: cover;
  backdrop-filter: blur(5px);
  box-shadow: 0px 4px 60px 2px brown;
  background-attachment: fixed;
}

.header {
  border-top: 2px solid black;
  width: 100vw;
  box-shadow: 0px -25px 80px 1px black;
  /* background-color: rgb(120, 86, 68); */
  backdrop-filter: blur(10px);

  position: fixed;
  z-index: 2;
  top: -2px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.8rem;
  list-style: none;
}

a {
  text-decoration: none;
  color: rgb(231, 219, 219);
  margin: 20px;
}

.logo {
  width: 100px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo > img {
  width: 90px;
  height: 70px;
  border-radius: 10px;
}

.reviews {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
  align-items: center;
}
.review_1 {
  grid-area: r_1;
  border-right: 2px solid black;
  height: 400px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  text-shadow: 3px 4px 40px rgb(227, 214, 214);
}
.review_1 > h2 {
  font-size: 3rem;
}

.review_photo {
  grid-area: r_p;

  height: 400px;
  width: 500px;
}

.review_photo > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  object-fit: cover;
}

.review_3 {
  grid-area: r_3;
  border-bottom: 2px solid black;
  height: 400px;
  width: 500px;
  padding: 40px 0 0 0;
  overflow: scroll;
  scrollbar-width: none;
}
#label,
#ham {
  display: none;
}

.wrapper {
  overflow-x: hidden;
  position: relative;
}
.review_3 p {
  font-size: 1.5rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 40px;
}
.menu {
  width: 100vw;
  margin-top: 250px;
  background-color: rgba(105, 84, 71, 0.684);
  padding: 40px;
}

.menu_flex {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  flex-wrap: wrap;
}

.lunch_menu {
  display: flex;
  flex-direction: column;
}

.brk_menu {
  display: flex;
  flex-direction: column;
}
.des1 > p {
  margin-right: 49px;

  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 30px;
  width: 500px;
}

.des1 > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  margin: 0px 0 0 0;
  width: 500px;
}

.des2 > p {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1.5rem;
  padding-bottom: 30px;
  width: 500px;
}

.des2 > h1 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2.5rem;
  padding: 10px;
  margin: 30px 0 0 0;
  width: 500px;
}

.menu_photo1 {
  width: 500px;
  height: 450px;
  position: relative;
}

.menu_photo2 {
  width: 500px;
  height: 50px;
}

.menu_img1 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 100px;
}
.menu_img2 {
  width: 500px;
  height: 450px;
  object-fit: cover;
  position: relative;
  top: 100px;
}
button {
  padding: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
  border-radius: 10px;
  background-color: rgba(111, 75, 55, 68%);
  color: white;
  border: 2px solid white;
}

.btn_1 {
  display: block;

  margin: 0 0 0 75%;
}

.special {
  margin: 200px 0 100px 0;
  border-top: 3px dotted white;
  padding-top: 30px;
}

.sub_special {
  display: flex;
  flex-wrap: wrap;
}
.special > .offer_h1 {
  text-align: center;
}

.special_item {
  width: 33%;
}
.special_btn {
  width: 150px;
  margin: 0 0 0 29%;
}
.special_img {
  width: 90%;
  object-fit: cover;

  border-radius: 55%;

  margin: 0 0 60px 10px;
}

.special_img > img {
  width: 100%;
  object-fit: cover;
  animation: infinite linear 10s animi;
}
.special_img2 > img {
  width: 98%;
  object-fit: cover;
  animation: infinite linear 10s animi;
}
.special_img2 {
  width: 90%;
  object-fit: cover;

  border-radius: 55%;

  margin: 0 0 60px 10px;
}
.media {
  background-color: white;
  color: black;
}
.media_inside {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}
.media_inside h1,
.media_inside p {
  padding: 10px;
}

.social a {
  font-size: 1.5rem;
  text-decoration: none;
  color: black;
}
footer {
  background-color: black;

  color: white;
  font-size: 1rem;
  text-align: center;
  height: 50px;
}

button:hover {
  background-color: rgba(231, 222, 222, 0.737);
  color: rgba(111, 75, 55, 68%);
}

li:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
  transform: scale(1.05);
  transition: all ease 0.3s;
}

@keyframes animi {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (600px > width) {
  body {
    background-color: rgba(4, 0, 0, 0.835);
  }

  .hero {
    background: url(./logo/logp.jpg) no-repeat center;
    background-size: cover;
  }

  .reviews {
    display: flex;
    flex-direction: column;
  }
  .review_1 {
    border-right: none;
    border-top: 2px solid rgb(255, 255, 255);
    height: 200px;
    margin: 0px 0 0 10px;
    color: rgb(18, 17, 17);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    text-align: center;

    width: 300px;
    text-shadow: 3px 4px 40px rgb(227, 214, 214);
  }
  .review_1 > h2 {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.929);
  }

  .review_photo {
    display: none;
  }

  .review_photo > img {
    display: none;
  }

  .review_3 {
    grid-area: r_3;
    border-bottom: 2px solid rgb(255, 255, 255);

    height: 320px;
    width: 300px;
    overflow: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
  }

  .review_3 p {
    font-size: 1rem;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;

    color: rgba(255, 255, 255, 0.871);
  }
  .menu {
    margin-top: 150px;
    color: white;
    background: rgba(0, 0, 0, 0.321);
    padding: 40px;
  }

  .menu_flex {
    display: flex;

    flex-direction: column;
  }

  .lunch_menu {
    display: flex;

    width: 300px;
    overflow: hidden;
  }
  .des1 > p {
    width: 300px;
    height: 200px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1rem;
    margin-left: 10px;
  }

  .des1 > h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2rem;
    padding: 10px 0;
    margin-left: 25px;
  }

  .des2 > p {
    width: 300px;
    height: 200px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1rem;
    margin-left: 10px;
  }

  .des2 > h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 2rem;
    padding: 10px;
    margin: 100px 0 0 15px;
    width: 300px;
  }

  .menu_photo1 {
    width: 300px;
    height: 250px;
    top: 100px;
    border-radius: 30px;
  }

  .brk_menu {
    display: grid;
    grid-template-areas:
      "m_P"
      "d2"
      "btn";

    position: static;
  }

  .des2 {
    grid-area: d2;
    width: 300px;

    overflow: hidden;
  }

  .menu_photo2 {
    width: 300px;
    height: 250px;

    border-radius: 30px;
    position: static;

    grid-area: m_P;
  }

  .menu_img1 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  .menu_img2 {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
  }
  button {
    padding: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 1rem;
    border-radius: 10px;
    background-color: rgba(111, 75, 55, 68%);
    color: white;
    border: 2px solid white;
    margin: 30px 0 0 90px;
  }
  .btn_1 {
    margin: 32px 0 0px 90px;
  }
  .special {
    margin: 100px 0 100px 0;
    border-top: 3px dotted black;
    padding-top: 30px;
  }
  .special > .offer_h1 {
    text-align: center;
    color: rgba(255, 255, 255, 0.709);
  }

  .special_item {
    width: 33%;
  }
  .special_btn {
    width: 100px;
    margin: 0 0 0 10%;
    font-size: small;
  }
  .special_img2 > img {
    width: 97%;

    object-fit: cover;
    animation: infinite linear 5s animi;
  }
  .special_img2 {
    width: 100%;

    object-fit: cover;
    box-shadow: 0px 20px 20px 0.5px rgba(0, 0, 0, 0.452);
    border-radius: 55%;
  }
  .special_img {
    width: 100%;
    object-fit: cover;
    box-shadow: 0px 20px 20px 0.5px rgba(0, 0, 0, 0.452);
    border-radius: 55%;

    margin: 0 0 60px 10px;
  }

  .special_img > img {
    width: 100%;
    object-fit: cover;
    animation: infinite linear 5s animi;
  }
  .media_inside {
    display: flex;
  }
  .media {
    background-color: white;
  }
  .media_inside {
    width: 70%;
    margin: 0 auto;
    padding: 20px 0 0 0;
    justify-content: space-between;
    gap: 10px;
  }
  .media_inside h1,
  .media_inside p {
    padding: 5px;
  }
  .media_inside h1 {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }

  .social a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  ul {
    font-size: 1.5rem;

    flex-direction: column;
    position: absolute;
    height: 100vh;
    align-items: flex-start;
    top: 90px;
    background: rgba(4, 0, 0, 0.835);
    padding: 10px 0 0 0;
    justify-content: flex-start;
    width: 200px;
    list-style: none;
    left: 100vw;
    transition: all 1s;
  }

  #ham {
    display: none;
  }
  #label {
    font-size: 2rem;
    color: white;
    display: block;
  }

  #ham:checked + ul {
    left: calc(100vw - 200px);
  }
}
